[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
    
[submodule "glm"]
    path = "deps/glm"
    url  = "https://github.com/g-truc/glm"

[submodule "glad"]
    path = "deps/glad"
    url  = "https://github.com/Dav1dde/glad/tree/glad2"

[submodule "stb"]
    path = "deps/stb"
    url  = "https://github.com/nothings/stb"